// Colors

  // default
  $black: #000;
  $black-opace: rgba($black, .75);

  $footer-bg: #ccc;

  $transparent: transparent;

  $white: #fff;

  // main
  $main: $black;
  $main-link: $black;
  $main-link-hover: $black-opace;

// End Colors
