// Colors

  // default
  $black: #000;

  $footer-bg: #ccc;

  $dark-cyan: darkcyan;
  $red: red;

  $transparent: transparent;

  $white: #fff;

  // main
  $main: $black;
  $main-link: $dark-cyan;
  $main-link-hover: $red;

// End Colors
